//
//  Animations
//
@keyframes a--rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}


// pattern:  name | duration | timing function | delay | iteration count | direction
.a--rotate {
  //animation: a--rotate 5s linear 2s infinite alternate;
  animation: a--rotate 300ms linear 0s infinite;
  animation-direction: reverse;
}
